$red: lighten(red, 40%);
$red-border: red;
$yellow: lighten(yellow, 40%);
$yellow-border: yellow;
$green: lighten(green, 60%);
$green-border: green;

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: grey;
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

input, select, button {
  font-size: 1.3rem;
}

h1 {
  font-weight: 400;
  font-size: 2.4rem;
}

@import 'wrapper';
@import 'component/title-bar';
@import 'component/item';
@import 'component/button';
@import 'component/form';
@import 'component/player';
