.item {
  background: white;
  border: 1px solid grey;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item--position-1 {
  background-color: $red;
  border-color: $red-border;
}

.item--position-2 {
  background-color: $yellow;
  border-color: $yellow-border;
}

.item--position-3 {
  background-color: $green;
  border-color: $green-border;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
