.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__name {
  font-size: 1.8rem;
  font-weight: 300;
  word-break: break-all;
}

.player__stats {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
}

.player__actions {
  flex-shrink: 0;
}
